[Desktop Entry]
Type=Application
Name=kiki
GenericName=File Manager
Comment=Browse files locally and on SFTP, FTPS and SMB locations
Exec=kiki %U
Icon=org.kiki.App
Terminal=false
Categories=System;FileTools;FileManager;Utility;
MimeType=inode/directory;x-scheme-handler/sftp;x-scheme-handler/ftps;
StartupNotify=false
