[Desktop Entry]
Type=Application
Name=kiki
GenericName=File Manager
GenericName[es]=Gestor de archivos
GenericName[ja]=ファイルマネージャー
Comment=Browse files locally and on SFTP, FTPS and SMB locations
Comment[es]=Explora archivos locales y en ubicaciones SFTP, FTPS y SMB
Comment[ja]=ローカルと SFTP・FTPS・SMB の場所のファイルを閲覧
Exec=kiki %U
Icon=org.kiki.App
Terminal=false
Categories=System;FileTools;FileManager;Utility;
MimeType=inode/directory;x-scheme-handler/sftp;x-scheme-handler/ftps;
StartupNotify=false
